<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Program Files (x86)\LOVE\love.exe</StartProgram>
    <StartArguments>\.</StartArguments>
    <StartWorkingDirectory>C:\Users\kerfuffel\git\syzygy-v2</StartWorkingDirectory>
  </propertyGroup>
</Project>